<!DOCTYPE html>
<html>

<head>
    <title>Predict Fishing Potential</title>
</head>

<body>
    <h1>Predict Fishing Potential</h1>
    <form action="result.html" method="POST">
        <label for="sst">SST:</label>
        <input type="number" step="0.00001" name="sst" id="sst"><br><br>
        <label for="ssc">SSC:</label>
        <input type="number" name="ssc" id="ssc"><br><br>
        <label for="AT">AT:</label>
        <input type="number" name="at" id="at"><br><br>
        <label for="RH">RH:</label>
        <input type="number" name="rh" id="rh"><br><br>
        <label for="SLP">SLP:</label>
        <input type="number" name="slp" id="slp"><br><br>
        <label for="TC">TC:</label>
        <input type="number" name="tc" id="tc"><br><br>
        <label for="FC">FC:</label>
        <input type="number" name="fc" id="fc"><br><br>
        <a href="result.html"> <input type="submit" value="Predict"></a>
    </form>




</body>

</html>